references/
notes.txt
resources_databases_Isotopes.yml
materials-old.yml
dataConversion/ICRP38.RAD
dataConversion/ICRP38.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
doc-gen/_build/
doc-gen/build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

dataConversion/compendium- Updated.xlsm

docsrc/source/old_isotopes.csv

dataConversion/updates/names

dataConversion/updates/gamma.data

dataConversion/updates/decay.data

*.data

dataConversion/materialLibraryValidation/ABSORB.COE

dataConversion/materialLibraryValidation/ATTEN.COE

dataConversion/materialLibraryValidation/attenuat

dataConversion/materialLibraryValidation/buildup

dataConversion/materialLibraryValidation/GP.COE

dataConversion/materialLibraryValidation/HIGHZ.GP
